<div id="w-node-e4889da1-f678-bd4c-db09-87301a72df22-cf39daf1" style="color: {{ section.settings.color }}; background-color: {{ section.settings.background }}" class="section_footer_inside"><div id="w-node-_946c4dcd-3bf7-2b09-3073-715a0eb0badd-cf39daf1" class="footer_member"><h2 class="heading-style-h2 text-color-white">
{{ section.settings.text_newsletter_headline }}
</h2>
<div class="footer_form-block w-form">{% form 'customer', return_to: '/', class: 'footer_form' %}
<input class="form-input is-white w-input" maxlength="256" name="contact[email]" data-name="email" placeholder="Your E-Mail-Address" type="email" id="email" required="">
<div li-object="form.errors | default_errors" class="text-size-regular text-color-red">{{ form.errors | default_errors }}</div><div id="w-node-ced975e7-1b4d-f69e-9e83-8c61141236df-cf39daf1" class="hide w-embed"><input type="hidden" name="contact[accepts_marketing]" value="false">
</div><label id="w-node-ced975e7-1b4d-f69e-9e83-8c61141236e0-cf39daf1" class="w-checkbox form-checkbox" name="contact[accepts_marketing]"><input type="checkbox" name="Accepts-Marketing" id="Accepts-Marketing" data-name="Accepts Marketing" class="w-checkbox-input form-checkbox-icon">
<span class="form-checkbox-label text-size-tiny w-form-label" for="Accepts-Marketing">
{{ section.settings.text_checkbox }}
</span>
</label><input type="submit" data-wait="" id="w-node-_8c754474-e4d5-bcc2-d22b-03af6f725bec-cf39daf1" class="button w-button" value="Subscribe to Newsletter">
{% endform %}
<div class="success-message w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="error-message w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div><div class="logo-footer w-embed"><svg width="auto" height="auto" viewbox="0 0 1158 150" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_255_10)"><mask id="mask0_255_10" style="mask-type:luminance" maskunits="userSpaceOnUse" x="0" y="0" width="1158" height="150"><path d="M1157.24 0H0V149.06H1157.24V0Z" fill="currentColor"></path></mask><g mask="url(#mask0_255_10)"><path d="M101.52 76.69L200.11 21.82C208.13 17.36 217.43 25.47 212.97 33.04L144.62 149.06H239.45L282.08 76.69H378.17L476.76 21.82C484.78 17.36 494.08 25.47 489.62 33.04L421.27 149.06H516.1L558.73 76.69H654.82L753.41 21.82C761.43 17.36 770.73 25.47 766.27 33.04L697.92 149.06H792.75L835.38 76.69H931.47L1030.06 21.82C1038.08 17.36 1047.38 25.47 1042.92 33.04L974.57 149.06H1069.4L1157.24 0H1062.41L1062.36 0.08L1025.18 0L964.37 0.25L868.51 53.54C860.49 58 851.19 49.88 855.65 42.32L880.58 0H785.75L785.7 0.08L748.52 0L687.71 0.25L591.85 53.54C583.83 58 574.53 49.88 578.99 42.32L603.92 0H509.09L509.04 0.08L471.87 0L411.06 0.25L315.2 53.54C307.18 58 297.88 49.88 302.34 42.32L327.26 0H232.43L232.38 0.08L195.21 0L134.4 0.25L0 74.96L0.42 76.68H101.52V76.69Z" fill="currentColor"></path></g></g><defs><clippath id="clip0_255_10"><rect width="1157.24" height="149.06" fill="currentColor"></rect></clippath></defs></svg></div><div id="w-node-bc2ed300-2308-5dc4-a3b2-7a9c9571447b-cf39daf1" class="footer_link-grid"><div li-for:inside="link in linklists['footer'].links" id="w-node-bc2ed300-2308-5dc4-a3b2-7a9c9571447c-cf39daf1" class="footer_link-list">
        {% for link in linklists['footer'].links %}                            
                            <a li-object:href="link.url" li-object="link.title" href="{{ link.url }}" class="text-size-small">{{ link.title }}</a>
                            
                    {% endfor %}    </div>
<div li-for:inside="link in linklists['footer-right'].links" id="w-node-_7140f323-bf29-df9e-ec3d-83aa41819d72-cf39daf1" class="footer_link-list">
        {% for link in linklists['footer-right'].links %}                            
                            <a li-object:href="link.url" li-object="link.title" href="{{ link.url }}" class="text-size-small">{{ link.title }}</a>
                            
                    {% endfor %}    </div>
</div></div><div class="custom-input w-embed"></div>
<div class="custom-input w-embed"></div>
 {% schema %} {"tag":"footer","name":"footer","class":"section_footer","settings":[{"id":"text_newsletter_headline","type":"text","label":"Newsletter-Headline","default":"Signup for Newsletter"},{"id":"text_checkbox","type":"text","label":"Checkbox","default":"By subscribing you agree to with our <a href=\"#\"><span class=\"text-color-white text-style-link\">Privacy Policy<\/span><\/a> and provide consent to receive updates from our company."},{"type":"color","id":"color","label":"Text color","default":"#000000"},{"type":"color","id":"background","label":"Background Color","default":"#ffffff"}],"presets":[{"name":"footer","category":"Liquify"}]} {% endschema %}