<div style="color: {{ section.settings.color }}; background-color: {{ section.settings.background }}" class="section_content small">{% if section.settings.checkbox_show_static_heading == true %}
<div class="static-h1-heading-wrapper small"><h1 class="h1-heading-small">
{{ section.settings.text_heading }}
</h1>
</div>{% endif %}
{% if section.settings.checkbox_show_marquee == true %}
<div class="marquee-wrapper small"><div class="marquee"><div class="marquee-horizontal small"><div class="track-horizontal"><p class="marquee-heading small">
{{ section.settings.text_heading }}
</p>
<p class="marquee-heading small">
{{ section.settings.text_heading }}
</p>
<p class="marquee-heading small">
{{ section.settings.text_heading }}
</p>
<p class="marquee-heading small">
{{ section.settings.text_heading }}
</p>
<div class="marquee-horizontal-css w-embed"><style>.track-horizontal {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
	animation: marquee-horizontal 60s linear infinite;  
  /* manipulate the speed of the marquee by changing "40s" line above*/
}
.track-horizontal:hover {
  animation-play-state: paused;
}
@keyframes marquee-horizontal {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
</style></div></div></div></div></div>{% endif %}
</div><div class="custom-input w-embed"></div>
<div class="custom-input w-embed"></div>
<a class="absolute-link-block" href="{{ section.settings.url_link }}"> </a>
 {% schema %} {"tag":"div","name":"small_heading","class":"section_heading_small","settings":[{"id":"checkbox_show_static_heading","type":"checkbox","label":"Show static heading","default":true},{"id":"text_heading","type":"text","label":"Heading","default":"CHEST-FLATTENING BASICS"},{"id":"checkbox_show_marquee","type":"checkbox","label":"Show marquee","default":true},{"type":"color","id":"color","label":"Text color","default":"#000000"},{"type":"color","id":"background","label":"Background Color","default":"#ffffff"},{"id":"url_link","type":"url","label":"Link"}],"presets":[{"name":"small_heading","category":"Liquify"}]} {% endschema %}